.container {
  width: 1440px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  background-color: #cccccc;
}
.content {
  width: 1200px;
  margin: auto;
}
.background {
  background-image: url("images/back-header.png");
  height: 780px;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.header__logo {
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  padding-right: 13px;
}
.header__logo_name {
  padding-left: 15px;
}
.header__menu {
  width: 480px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__menu_link {
  font-size: 23px;
  line-height: 60px;
}
.header__menu_button {
  width: 118px;
  height: 48px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #cd6326;
  justify-content: center;
  color: #f7f7f7;
  text-decoration: none;
}
.link-menu {
  color: #f7f7f7;
  text-decoration: none;
}
a:hover.link-menu {
  text-decoration: underline;
}
a:hover.header__menu_button {
  background: #cd6326;
}
a:active.header__menu_button {
  background: #8f5613;
  border: 2px solid #8f5613;
}

/* survival block */

.survival {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  height: 340px;
  justify-content: space-between;
}
.survival__heading {
  font-size: 48px;
  line-height: 72px;
  letter-spacing: 2px;
  color: #cd6326;
}
.survival__text {
  width: 274px;
  height: 108px;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
}
.survival__button-link {
  width: 160px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;
  text-decoration: none;
  background: #cd6326;
  border-radius: 5px;
}
a:hover.survival__button-link {
  background: #e39128;
}
a:active.survival__button-link {
  background: #8f5613;
}

/* article */

.latest-articles__heading {
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #333333;
  margin-top: 120px;
}
.latest-articles__text {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #666666;
  margin-top: 20px;
}
.latest-articles__slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}
.latest-articles__slider_image1 {
  width: 300px;
  height: 360px;
  background-image: url("images/Deer.jpg");
}
.latest-articles__slider_image2 {
  width: 300px;
  height: 360px;
  background-image: url("images/Squirrel.jpg");
}
.latest-articles__slider_image3 {
  width: 300px;
  height: 360px;
  background-image: url("images/Bird.jpg");
}
.latest-articles__slider_small-heading {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #f7f7f7;
  margin-top: 247px;
}
.latest-articles__slider_text {
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  color: #f7f7f7;
  margin-top: 10px;
}
path:hover {
  fill: red;
  cursor: pointer;
}
.get-notified__heading {
  font-size: 27px;
  line-height: 40px;
  display: flex;
  color: #333333;
  width: 526px;
  height: 41px;
  margin: auto;
  margin-top: 239px;
  justify-content: center;
}
.get-notified__form {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 59px;
  padding-bottom: 239px;
}
.get-notified__form_email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #666666;
  background: #cccccc;
  border: 1px solid #666666;
  border-right: 0px;
  width: 525px;
  height: 56px;
  padding-left: 15px;
}
.get-notified__form_submit {
  width: 120px;
  height: 60px;
  background: #cd6326;
  border: 1px solid #cd6326;
  border-radius: 0px 5px 5px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;
}
.get-notified__form_submit:hover {
  background-color: #e39128;
}
.get-notified__form_submit:active {
  background-color: #8f5613;
}

/* footer */

.container__footer {
  background-image: url("images/footer-back.jpg");
}
.footer__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
}
.footer__menu_link {
  display: flex;
  font-size: 23px;
  line-height: 60px;
  color: #f7f7f7;
  width: 480px;
  justify-content: space-between;
}
.footer__menu_icon {
  width: 241px;
  display: flex;
  justify-content: space-between;
}
