.container {
  width: 1440px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  background-color: #cccccc;
}
.content {
  width: 1200px;
  margin: auto;
}
.background {
  background-image: url("images/back-header.png");
  height: 780px;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
}
.header__logo {
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 60px;
  display: inline-block;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.header__logo_name {
  padding-left: 15px;
}
.header__menu {
  width: 480px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}
.header__menu_link {
  font-size: 23px;
  line-height: 60px;
}
.header__menu_button {
  width: 120px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  border: 2px solid #cd6326;
  justify-content: center;
  color: #f7f7f7;
  text-decoration: none;
}
.link-menu {
  color: #f7f7f7;
  text-decoration: none;
}
a:hover.link-menu {
  text-decoration: underline;
}
a:hover.header__menu_button {
  background: #cd6326;
}
a:visited.header__menu_button {
  background: #8f5613;
  border: 2px solid #8f5613;
}

/* survival block */

.survival {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  height: 340px;
  justify-content: space-between;
}
.survival__heading {
  font-size: 48px;
  line-height: 72px;
  color: #cd6326;
}
.survival__text {
  width: 274px;
  height: 108px;
  font-size: 18px;
  line-height: 27px;
  color: #f7f7f7;
}
.survival__button-link {
  width: 160px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 27px;
  color: #f7f7f7;
  text-decoration: none;
  background: #cd6326;
  border-radius: 5px;
}
a:hover.survival__button-link {
  background: #e39128;
}
a:visited.survival__button-link {
  background: #8f5613;
}

/* article */

.latest-articles__heading {
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  color: #333333;
  margin-top: 120px;
}
.latest-articles__text {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #666666;
  margin-top: 20px;
}
.latest-articles__slider {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}
.latest-articles__slider_image1 {
  width: 300px;
  height: 360px;
  background-image: url("images/Deer.jpg");
}
.latest-articles__slider_image2 {
  width: 300px;
  height: 360px;
  background-image: url("images/Squirrel.jpg");
}
.latest-articles__slider_image3 {
  width: 300px;
  height: 360px;
  background-image: url("images/Bird.jpg");
}
.latest-articles__slider_small-heading {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #f7f7f7;
  margin-top: 247px;
}
.latest-articles__slider_text {
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  color: #f7f7f7;
  margin-top: 10px;
}
path:hover {
  fill: red;
  cursor: pointer;
}
